body {
 background-color:black;   
}



.enjoy-css {
  width: 100%;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px;
  overflow: hidden;
  border: none;
  font: normal 70px/1 "VT323", Helvetica, sans-serif;
  color: rgba(63,255,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 rgba(224,96,96,1) ;
}

body, a, a:hover {
    cursor: url(http://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), progress;
}

@import url(http://fonts.googleapis.com/css?family=VT323);
/* Circle Text Styles */
#outerCircleText {
/* Optional - DO NOT SET FONT-SIZE HERE, SET IT IN THE SCRIPT */
font-style: italic;
font-weight: bold;
font-family: "VT323";
color: #CCFF99;
text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 #FF6600;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    
position: absolute;top: 0;left: 0;z-index: 3000;cursor: default;}
#outerCircleText div {position: relative;}
#outerCircleText div div {position: absolute;top: 0;left: 0;text-align: center;}




body, td, th {   
  font-family:"Courier New", Courier, monospace;
  font-size: 12px;  color: #009900; margin:0;   padding:0;  
  height:100%;    overflow:hidden;
}

html { height:100%;    
  width:100%;
  }

body {  
  background-color: #000000;
  }

  .teks {  
    color:#00CC00;  
    font-size:74px; 
    font-weight:bold;   
    font:"Times New Roman";
    }

  .teks2 {    
    color:#00CC00;  
    font-size:24px; 
    font-weight:bold;   
    font:"Times New Roman";
    }

    #i12 {  
      position:absolute;  
      top:30%;    
      left:35%;
      }

      .theAbs { 
        top:0;  
        position:absolute;  
        width:2%;
        }

        .hide {   
          display:none;
        }


#iHacked {    
  position:absolute;  
  width:100%; 
  top:5%; 
  height:100%;   
 opacity:0.3;
 }

 li{    
  color:#fff; 
  font:bold 13px; 
  list-style: none;
}